<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="/static/css/common.css">
</head>
<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="">Profile</a>
            <a href="/notifications">Notifications</a>
        </nav>
    </header>
    <main>
        <h2>Уведомления</h2>
        <ul id="notification-list"></ul>
    </main>
    <footer></footer>
    <script src="/static/js/homepage.js"></script>
    <script src="/static/js/notifications.js"></script>
</body>
</html>
